body {
  font-family: 'Inter', sans-serif;
}
.day-card {
  background-color: #1f2937;
  border: 1px solid #374151;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.4s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  opacity: 0;
  line-height: 1.25rem;
  transform: translateY(20px) scale(0.95) rotateX(5deg);
  animation: fadeInUpCascading 0.6s ease forwards;
}
.day-card:hover {
  transform: translateY(-3px) scale(1) rotateX(0);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}
.day-card h3 {
  font-size: 1.5rem;
  color: #fff;
}
.exercise-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f97316;
}
.exercise-instructions,
.exercise-muscle-group {
  font-size: 0.875rem;
  color: #d1d5db;
}
.exercise-link {
  font-size: 0.875rem;
  color: #fff; /* White text */
  background-color: transparent; /* Transparent background */
  border: 1px solid #fff; /* White border */
  padding: 0.5rem 1rem; /* Padding for button-like appearance */
  border-radius: 2.5rem; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block for proper spacing */
  text-align: center; /* Center text inside the button */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.exercise-link:hover {
  background-color: #fff; /* White background on hover */
  color: #1f2937; /* Dark text on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.exercise-buttons {
  display: flex; /* Align buttons in a row */
  gap: 1rem; /* Space between buttons */
  justify-content: center;
  align-items: center; /* Vertically center the buttons */
  flex-wrap: nowrap;
}
@keyframes fadeInUpCascading {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95) rotateX(5deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0);
  }
}

